<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Fleet Management{% endblock %}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Chart.js & Date Adapter -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <!-- JS Statics -->
    {% load static %}
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/fetchWithAuth.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}

</head>
<body class="bg-gray-100">

    {% include 'navbar.html' %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
